/* 
    Document   : admin.css
    Created on : 24/11/2012
    Description: Style sheet for admin pages        
*/

#icon-transposh-logo {
    background: url('../img/tplogo32.png') no-repeat;
    /*float: left;*/
}
#sortable { list-style-type: none; margin: 0; padding: 0; }
/*	#sortable li, #default_lang li { margin: 3px 3px 3px 0; padding: 5px; float: ' . $this->localeleft . '; width: 190px; height: 14px;}*/
#sortable li, #default_lang li { margin: 3px 3px 3px 0; padding: 5px; float: left; width: 190px; height: 14px;}
.languages {
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style:solid;
    border-width:1px;
    line-height:1;
}
.highlight {
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style:solid;
    border-width:1px;
    line-height:1;
    background: #FFE45C !important;
    width: 190px;
    height: 14px;
}
.highlight_default {
    background: #FFE45C !important;
}
.lng_active {
    background: #45FF51 !important;
}
.hidden {
    display: none;
}
.logoicon {
    /*float:' . $this->localeright . ';*/
    float: right;
    margin-left:2px;
    margin-top:-1px;
}
