/*
 * Widget's css 
 */
.transposh_flags {
	direction: ltr;
}

.transposh_flags a {
	display: inline;
	background: transparent; /* ie8 quirk */
}

.transposh_flags img:hover {
	background: blue; /* ie8 quirk */
}
