/*
 * Fix collisions with some themes
 */

.post .postbody .tr_img_, .attachment .tr_img_, .navigation .alignleft .tr_img_, .navigation .alignright .tr_img_,
.tr_img_ {
    border: 0px; 
    margin: 0px;
}

.tr-icon {
	background-image:url(../img/tr_imgs.png);
	height:12px;
	width:12px;
	background-repeat:no-repeat;
	overflow:hidden;
	text-indent:-99999px;
        display:inline-block;
}
.tr-icon-yellow {
	background-position:-12px 0;
}
.tr-icon-green {
	background-position:-24px 0;
}