/*
 * Widget's css 
 */
.transposh_flags {
	direction: ltr;
}
/* TODO - test hover over non css flags */
.transposh_flags a span {
        border-color:transparent;
        border-style:solid;
        border-width:1px 3px;
        padding: 0;
}

.transposh_flags a span:hover {
        border-color:blue;
}
