/*
 * Widget's css 
*/
.transposh_flags {
    direction: ltr;
    line-height: 0;
}
.transposh_flags a  {
    /*    line-height:11px;*/
    display: inline;
    /*background: transparent;*/ /* ie8 quirk */
}

.transposh_flags a:hover {
    /* ie8 quirk */
    background:transparent
}

.transposh_flags a span, .transposh_flags a img {
    border-color:transparent;
    border-style:solid;
    border-width:1px 3px;
    padding: 0;
}

.transposh_flags a span:hover, .transposh_flags a img:hover {
    border-color:blue
}

/* Code adapted from: http://www.jankoatwarpspeed.com/post/2009/07/28/reinventing-drop-down-with-css-jquery.aspx */

.dropdown, .dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#816c5b; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt a:hover, .dropdown dt a:focus { color:#5d4617; border: 1px solid #5d4617;}
.dropdown dt a {background:#e4dfcb url(arrow.png) no-repeat scroll right center; display:block; padding-right:20px;
		border:1px solid #d4ca9a; width:150px;}
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { background:#e4dfcb none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
		  padding:5px 0px; position:absolute; top:2px; width:auto; min-width:170px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#d0c9af;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }